<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>About</title>
    {% set titleName = "about"  %}
 
    {% include '/styles.html' %}
 
    
 
 
</head>
 
<body>
    {% include 'header.html' %}
    <div class="row">
        <div class = "col-md"></div>
            <div class = "col-md">
                <p><h1 class="serifh1">About this site</h1>
                <h3 class = "serifh2">15.05.2020 by <a href = "/id/theGalkin">theGalkin</a></h3></p>
                <p class = "serif" >Hi everyone. This site was created by Nikita Galkin as a homework. This is his first website on Flask so don't blame him too much. &#13 Peace, Nikita!</p>
                
            </div>
        <div class = "col-md"></div>
    </div>
        
        
        <footer class="footer">
            <p>&copy; Блог Никиты</p>
        </footer>
 
    </div>
</body>
 
</html>