<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
 
    
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="row">
                    <li role="presentation" class="col-sm-4"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="col-sm-4"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation" class="col-sm-4"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        
        
        <footer class="footer">
            <p>&copy; Блог Никиты</p>
        </footer>
 
    </div>
</body>
 
</html>