<html>
<head>
  <title>New post</title>
  {% set titleName = "editor"  %}
  {% include '/styles.html' %}
</head>
<body>
  {% include 'header.html' %}
    
    {#<div id="sample">
        <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
      //<![CDATA[
              bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
        //]]>
        </script>#}
        <form method="POST" >
          <div class="container ">
            <div class="col">
              <p class="serifh1 row">Header</p>
              <input class="row justify-content-center" name="textName">
              <p></p>
              <p class="serifh1 row">Text</p>
              <textarea class="row justify-content-center" name="text" style="width: 700px; height: 400;"></textarea>
              <button id="btnPostIt" class="row justify-content-md-center btn btn-lg btn-primary btn-block"  type="submit" style="width: 700px;">Post it!</button>
            </div>
          </div>
        </form>
      </div>



</body>


</html>