<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand serifh1" href="/index">Bird Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        {% if titleName == "index" %}
          <li class="nav-item active">
            <a class="nav-link serif" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link serif " href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% if titleName == index %}
         
        {% else %}
        
        {% endif %}
        {% if titleName == "signIn" %}
        <li class="nav-item active">
          <a class="nav-link serif" href="/login">Post smth.<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link serif" href="/login">Post smth.</a>
        </li>
        {% endif %}
        {% if titleName == "about" %}
        <li class="nav-item active">
          <a class="nav-link serif" href="about">About <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link serif" href="about">About</a>
        </li>
        {% endif %}
        {% if titleName == "signUp" %}
        <li class="nav-item active">
          <a class="nav-link serif" href="/register">Sign Up<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link serif" href="/register">Sign Up</a>
        </li>
        {% endif %}
        {% if "user" in session %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        {% endif %}
      </ul> 
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>      