<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand serifh1" href="/index">Bird Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        {% if titleName == "index" %}
          <li class="nav-item active">
            <a class="nav-link serif" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link serif " href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% if titleName == index %}
         
        {% else %}
        
        {% endif %}
        {% if titleName == "editor" or titleName == "login" %}
        <li class="nav-item active">
          <a class="nav-link serif" href="/editor">Post smth.<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link serif" href="/editor">Post smth.</a>
        </li>
        {% endif %}
        {% if titleName == "about" %}
        <li class="nav-item active">
          <a class="nav-link serif" href="about">About <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link serif" href="about">About</a>
        </li>
        {% endif %}
        {% if not "user" in session %}
          {% if titleName == "signUp" %}
          <li class="nav-item active">
            <a class="nav-link serif" href="/register">Sign Up<span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link serif" href="/register">Sign Up</a>
          </li>
          {% endif %}
        {% endif %}
      </ul> 
      
        {% if "user" in session %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src = {{ session[ "icon" ] }} alt="" class="round" width="40" height="40">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/id/{{ session[ "user" ] }}">My page</a>
            <a class="dropdown-item" href="/usercorrect">Edit profile</a>
            <a class="dropdown-item" href="/editor">Write a post</a>
            <a class="dropdown-item" href="/logout">logout</a>
          </div>
        </div>
        {% else %}
        <div class="d-flex flex-row-reverse">
          <ul class="navbar-nav p-1">
            {% if titleName == "login" %}
              <li class="nav-item active"></li>
                <a class="nav-link serif" href="/login">Sign In <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
            <li class="nav-item ">
              <a class="nav-link serif " href="/login">Sign In <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
    </div>
  </nav>      