<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
 
    
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="row">
                    <li role="presentation" class="col-sm-4"><a href="index.html">Home</a>
                    </li>
                    <li role="presentation" class="col-sm-4"><a href="/editor">Sign In</a>
                    </li>
                    <li role="presentation" class="col-sm-4"><a href="/register">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        
        <h1 class="text-muted">Recent Posts</h1>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Lorem ipsum</h4>
                <p>Dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
                <h4>Lorem ipsum</h4>
                <p>Dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h4>Lorem ipsum</h4>
                <p>Dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>
 
            <div class="col-lg-6">
                <h4>Lorem ipsum</h4>
                <p>Dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h4>Lorem ipsum</h4>
                <p>Dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h4>Lorem ipsum</h4>
                <p>Dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        
        <footer class="footer">
            <p>&copy; Блог Никиты</p>
        </footer>
 
    </div>
</body>
 
</html>