<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
    {% set titleName = "signIn"  %}

    
    {% include '/styles.html' %}
    
  </head>
 
  <body>
    {% include 'header.html' %}
    <div class="container">
      
    
      <div class="jumbotron">
        <h1>Вход</h1>
        <form class="form-signin" method="POST" action="/login">
            <label for="inputLogin" class="sr-only">Логин</label>
            <input type="inputLogin" name="inputLogin" id="inputLogin" class="form-control" placeholder="login" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="inputPassword" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" onclick="ym(62880433,'reachGoal','login')" formaction="/login" type="submit">Войти</button>
            
        </form>
        <p></p>
        <p></p>
        <p></p>
        <a href="/forgot">Forgot password!</a>
      </div>
    
      <footer class="footer">
        <p>Блог Никиты</p>
      </footer>
 
    </div>
  </body>
</html>