<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Регистрация</title>
    

    
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    {#<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">#}
    
  </head>
 
  <body>
  
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="index.html">Блог</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
            <li role="presentation" ><a href="about.html">Блог</a></li>
          </ul>
        </nav>
      </div>
    
      <div class="jumbotron">
        <h1>Вход</h1>
        <form class="form-signin" method="POST" action="/login">
            <label for="inputLogin" class="sr-only">Логин</label>
            <input type="inputLogin" name="inputLogin" id="inputLogin" class="form-control" placeholder="login" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="inputPassword" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" formaction="/login" type="submit">Войти</button>
        </form>
      </div>
    
      <footer class="footer">
        <p>Блог Никиты</p>
      </footer>
 
    </div>
  </body>
</html>