<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    {% set titleName = "signUp"  %}
    {% include '/styles.html' %}
    
    <script>
      function popup() {
       document.getElementById('welcome').innerHTML = 'Такой пользователь уже существует';
      }
      </script>
  </head>
 
  <body>
    {% include 'header.html' %}
    <div class="container">
     
    
      <div class="jumbotron">
        <h1>Регистрация</h1>
        <form class="form-signup" method="POST" action="/register">
            <label for="inputLogin" class="sr-only">Логин</label>
            <input type="inputLogin" name="inputLogin" id="inputLogin" class="form-control" placeholder="login" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="inputPassword" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" formaction="/register" type="submit">Зарегистрироваться</button>
        </form>
      </div>
    
      <footer class="footer">
        <p>Блог Никиты</p>
      </footer>
 
    </div>
  </body>
</html>