<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Регистрация</title>
 
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="index.html">Блог</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
            <li role="presentation" ><a href="about.html">Блог</a></li>
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <h1>Регистрация</h1>
        <form class="form-signup" method="POST" action="http://127.0.0.1:5000/regForm">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Зарегистрироваться</button>
        </form>
      </div>
      {%if registerStatus == False%}
            <script><alert>Такой пользователь уже существует</alert></script>
            <META HTTP-EQUIV="REFRESH" CONTENT="1; URL=register.html">
      {%endif%}
 
      <footer class="footer">
        <p>Блог Никиты</p>
      </footer>
 
    </div>
  </body>
</html>