<link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
{#<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">#}
<style>
    .serif {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 21px;
        line-height: 32px;
        font-weight: 400;
        

    }
    .serifh1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
    }
    .serifh2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
        line-height: 48px;
        font-weight: 400;
    }
    .round {
             border-radius: 100px; /* Радиус скругления */
    }
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    }
    .bigButton {
   border: 1px outset blue;
   background-color: lightBlue;
   height:50px;
   width:50px;
   cursor:pointer;
    }

    .bigButton:hover {
    background-color: blue;
    color:white;
    }
</style>
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#47a4bf">
<link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">