<style>
    .serif {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 21px;
        line-height: 32px;
        font-weight: 400;
        

    }
    .serifh1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
    }
    .serifh2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
        line-height: 48px;
        font-weight: 400;
    }
</style>