<html>
<head>
{% include '/styles.html' %}
{% if textName %}
<title>{{ textName}}, {{author}}'s post</title>
{% else %}
<META HTTP-EQUIV="REFRESH" CONTENT="1; URL=404.html">
{% endif %}

</head>
<body>
{% include 'header.html' %}
<div class="row">
    <div class = "col-md"></div>
        <div class = "col-md">
            <p><h1 class="serifh1">{{textName}}</h1>
            <h3 class = "serifh2">{{date}} by <a href = "/id/{{author}}">{{author}}</a></h3></p>
            <p class = "serif" >{{textContents}}</p>
            
        </div>
    <div class = "col-md"></div>
</div>


</body>


</html>