<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    {#<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">#}
{% if textName %}
<title>{{ textName}}</title>
{% else %}
<META HTTP-EQUIV="REFRESH" CONTENT="1; URL=404.html">
{% endif %}
<style>
    .serif {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 21px;
        line-height: 32px;
        font-weight: 400;
        

    }
    .serifh1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
    }
    .serifh2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        line-height: 48px;
        font-weight: 400;
    }
</style>
</head>
<body>
<div class="row">
    <div class = "col-md"></div>
        <div class = "col-md">
            <p><h1 class="serifh1">{{textName}}</h1>
            <h3 class = "serifh2">{{date}} by {{author}}</h3></p>
            <p class = "serif" >{{textContents}}</p>
        </div>
    <div class = "col-md"></div>
</div>

<footer>Блог Никиты</footer>
</body>


</html>