<html>
<head>
    <title>Edit your profile</title>
    {% set titleName = "usercorrect"  %}
 
    {% include '/styles.html' %}
    
    <style>
        .profile_editor_buttons{
            height: 37px;
            line-height: 37px;
            padding: 18px;
            border-color: #029e74;
            color: #018f69;
        }
        

    </style>
</head>
<body>
{% include 'header.html' %}
<div class="row justify-content-center">
    
    <div class = "col-6" >
        <h1 class="serifh1" contenteditable="true">Edit your profile</h1>
        
        <form action="/usercorrect" method="POST" enctype="multipart/form-data">
            <div id="newNameDef" contenteditable="true">{{nick}}<br /></div>
            <textarea name="newName" style="display:none;" />
            <div id="newAboutDef" contenteditable="true">{{about}}<br /></div>
            <textarea name="newAbout" style="display:none;" />
            <div class="col-md"><img src = {{imageLink}} alt="" class="round" width="100" height="100"></div>
            
            <button id="btnPostIt" class="row btn btn-lg btn-primary btn-block profile_editor_buttons"  type="submit" style="width: 700px;">Save</button>
        </form>
    </div>
    
</div>





</body>
</html>