<!DOCTYPE html>
<html>
    <head>
        <title>{{ nick }}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
        <style>
            .round {
             border-radius: 100px; /* Радиус скругления */
            }
           </style>
    </head>
    <body>
        <div class="pt-4 bg-warning">
            <div class="row mb-5" >
                <div class="col-md"></div>
                <div class="col-md">
                    <div class = "container" >
                        <div class = "row mb-5">
                            <div class="col-md"><h3>{{nick}}</h3>
                            <p><h6>{{about}}</h6></p>
                            </div>
                            <div class="col-md"><img src = {{imageLink}} alt="" class="round" width="100" height="100"></div>
                            <div class="col-md"></div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-md"></div>
                
                </div>
            </div>
        </div>
        <div class="row mb-5" >
            <div class="col-md"></div>
            <div class="col-md">
                <div class = "container" >
                    {% block poster %}
                    {% for post in fullPostData %}
                        <div class = "row mb-5">
                            <div class="col-md"><img src = {{imageLink}} alt="" class="round" width="100" height="100"></div>
                            <div class="col-md"><h6>{{ post[1] }}</h6>
                            <p><h6>{{ post[3] }}</h6></p>
                            </div>
                            <div class="col-md"><p><i>{{ post[4] }}</i></p></div>
                            
                            
                        </div>
                        <div class = "row md-5">
                            {% if post[2]|length > 83 %}
                                <div class="col-md"><p>{{ post[2][:83] }}</p></div>
                            {% else %}
                                <div class="col-md"><p>{{ post[2][:post|length / 100 * 10] }}</p></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
            
        </div>
    </body>
</html>