<html>
<head>
    <title>Edit your profile</title>
    {% set titleName = "usercorrect"  %}
 
    {% include '/styles.html' %}
    
    <style>
        .profile_editor_buttons{
            height: 37px;
            
            
            border-color: #029e74;
            color: #018f69;
        }
        

    </style>
</head>
<body>
{% include 'header.html' %}
<div class="row justify-content-center">
    
    <div class = "col-6" >
        <h1 class="serifh1" contenteditable="true">Edit your profile</h1>
        
        <form method="POST" enctype="multipart/form-data" onsubmit="this.newAbout.value=document.getElementById('newAboutDev').innerHTML;">
            <div class="row justify-content-center">
                <div class="col-md">
                    <h2 class="serifh2">Change your about:</h2>
                    <div id="newAboutDev" contenteditable="true">{{about}}<br /></div>
                    <textarea name="newAbout" style="display:none;"></textarea> 
                </div>
                <div class="col-md">
                    <img src = {{imageLink}} alt="" class="round" width="100" height="100">
                    <h2 class="serifh2">And/Or pick a new image</h2>
                    <input type="file" name="newImage"/>
                </div>
                
            </div>
            <div class=""
            <button class="btn btn-outline-success"  type="submit" >Save</button>
        </form>
    </div>
    
</div>





</body>
</html>