<html>
<head>
    <title>Edit your profile</title>
    {% set titleName = "usercorrect"  %}
 
    {% include '/styles.html' %}
</head>
<body>
{% include 'header.html' %}
<div class="row">
    <div class = "col-md"></div>
    <div class = "col-md" >
        <h1 class="serifh1" contenteditable="true">Edit your profile</h1>
        <form class="usercorrect" method="POST" action="usercorrect.html">
            <input id="nick" placeholder="{{}}"


        </form>
    </div>
    <div class = "col-md"></div>
</div>





</body>
</html>